resources:
- type: compute.v1.instance
  # 環境変数を受け取っている
  name: vm-{{ env["deployment"] }}
  properties:
    # 構成ファイルからpropertiesを受け取っている
    zone: {{ properties["zone"] }}
    # カスタムマシンタイプの定義を記載している。
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/machineTypes/custom-4-5120
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        # 環境変数を受け取っている
        diskName: disk-{{ env["deployment"] }}
        sourceImage: https://www.googleapis.com/compute/v1/projects/coreos-cloud/global/images/coreos-stable-2191-5-0-v20190904
    # ネットワークインターフェースを定義している    
    networkInterfaces:
    - network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
